* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100vw;
  margin-bottom: 10vh;
  background-color: #f4f4f4;
}
.nav-list {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
}
.nav-items {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #0177a9;
}
.logo-div {
  margin-top: 20vh;
}
.be-a {
  font-weight: 300;
  font-size: 3rem;
  color: #818181;
}
.champion {
  font-weight: 300;
  font-size: 3rem;
  color: #19b6fa;
}
footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-qoute {
  font-size: 1.5rem;
  font-weight: 200;
}

/* ////STUDENT DIRECTORY / ADMIN STUDENT DIRECTORY PAGE STYLING//// */

.sDirectory {
  padding-top: 10vh;
}

.directoryContainer {
  width: 100vw;
}
.keyCard {
  display: flex;
  margin: auto;
  background-color: #0177a9;
  margin-top: 20px;
  width: 70vw;
  border-radius: 10px;
  color: white;
  justify-content: space-around;
  height: 60px;
}
.keyInfo {
  width: 200px;
  height: 30px;
  padding-top: 18px;
  font-size: 24px;
}
.studentCard {
  height: 30px;
  display: flex;
  margin: auto;
  background-color: #19b6fa;
  margin-top: 25px;
  width: 70vw;
  border-radius: 10px;
  color: #000;
  justify-content: space-around;
}
.studentInfo {
  width: 200px;
  height: 30px;
  padding-top: 4px;
}
h1 {
  height: 10vh;
  padding-top: 25px;
  font-weight: 300;
  font-size: 3rem;
  color: #818181;
}
.searchDirectory {
  height: 3vh;
  text-align: center;
  margin-right: 10px;
}
.submitDirectory {
  height: 3vh;
  width: 55px;
  background-color: transparent;
  border-radius: 5px;
}
.submitDirectory:hover {
  background-color: #19b6fa;
  color: #000;
  transition: ease-in-out 0.2s;
}

.plusMinusBtn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.plusMinusBtn:hover {
  cursor: pointer;
}

/*ADMIN LOGIN PAGE STYLEING*/
.main-page {
  margin-right: 40vw;
  margin-left: 40vw;
  margin-top: 28vh;
}
.form-input {
  width: 100%;
  padding: 10px 10px;
  margin-top: 2vh;
  border: 0;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
  color: #b5b5b5;
  font-size: 1.4rem;
}
.form-btn {
  border: 2px solid #22ab00;
  background-color: #22ab00;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.admin-login {
  padding: 15px 10px;
  background-color: #0177a9;
  color: white;
  border-radius: 5px;
}
.admin-log-header {
  font-weight: 300;
  font-size: 2.2rem;
}
.form-input:focus {
  border: 0;
}
